@using Volo.Abp.DependencyInjection

@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic



@inherits Branding
@attribute [ExposeServices(typeof(Branding))]
@attribute [Dependency(ReplaceServices = true)]
<a href="/">
    <img src="Library2.png" width="70" height="70" />
</a>